#app {
    font-family: 'Roboto', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    background: #ecf0f1;
    padding: 20px;
}
.course-not-found {
    color: red;
    font-weight: bold;
    font-family: monospace;
    padding-bottom: 20px; /* adjust as needed */
}

input {
    border: 1px solid #bdc3c7;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    max-width: 100%;
    margin-left: 10px;
}

label {
    margin-left: 10px;
    font-weight: bold;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid gray;
    margin-top: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10), 0px 10px 20px rgba(0,0,0,0.05), 0px 20px 20px rgba(0,0,0,0.05), 0px 30px 20px rgba(0,0,0,0.05);
}

th,
td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ecf0f1;
}

tbody tr:nth-child(even),
thead {
    background-color: #f2f2f2;
}

th.active::after {
    color: black;
    font-size: 1.25rem;
}

th.ascending::after {
    content: "↑";
}

th.descending::after {
    content: "↓";
}

.header {
    font-family: 'Playfair Display', serif; /*change this with your preferred google font*/
    font-size: 40px; /*adjust size as needed*/
    border-bottom: 2px solid #500000; /*adds a bottom border*/
    padding-bottom: 10px; /*adds some space between the border and the text*/
    margin-bottom: 25px; /*adds some space between the title and the rest of the content*/
    text-transform: uppercase; /*makes the text uppercase*/
    color: #500000; /*TAMU maroon color*/
    font-weight: bolder; /*makes the text bolder*/
    letter-spacing: 2px; /*increases spacing between letters*/
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}



@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    td {
        padding: inherit;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    tr:nth-child(even) td {
        border-bottom: 1px solid white;
    }

    td:before {
        position: absolute;
        top: 0px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(1):before {
        content: "Teacher";
    }
    td:nth-of-type(2):before {
        content: "Average GPA";
    }
    td:nth-of-type(3):before {
        content: "Average rating";
    }
    td:nth-of-type(4):before {
        content: "Average difficulty";
    }
    td:nth-of-type(5):before {
        content: "% would take again";
    }
    td:nth-of-type(6):before {
        content: "Students taught";
    }
    td:nth-of-type(7):before {
        content: "Courses taught";
    }
    td:nth-of-type(8):before {
        content: "Number of ratings";
    }
}
